@import "tailwindcss";

@font-face {
    font-family: 'Gilroy_Bold';
    src: url('./assets/fonts/Gilroy-Bold.ttf') format('truetype');
}

@theme {
  --font-heading0: "Gilroy_Bold", sans-serif;
  --font-heading1: "Gilroy_Bold", sans-serif;
  --font-paragraph: "Inter", sans-serif;

  --text-heading0: 8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  background: #0a0a0a;
  overflow-x: hidden;
  color: white;
  font-family: var(--font-paragraph);
}

body {
  position: relative;
}
.baseMarginLeft {
  margin-left: 5rem;
}